@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-background: #F9FAFB;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F9FAFB;
  color: #111827;
}
